<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CL_CLegendary_Launcher_.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CL_CLegendary_Launcher_.Settings1>
            <setting name="width" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="EnableLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OP" serializeAs="String">
                <value>2048</value>
            </setting>
            <setting name="bgImage" serializeAs="String">
                <value />
            </setting>
            <setting name="MicrosoftAccount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Them" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="Section_colour" serializeAs="String">
                <value />
            </setting>
            <setting name="Background_colour" serializeAs="String">
                <value />
            </setting>
            <setting name="Additional_colour" serializeAs="String">
                <value />
            </setting>
            <setting name="Text_colour" serializeAs="String">
                <value />
            </setting>
            <setting name="Button_colour" serializeAs="String">
                <value />
            </setting>
            <setting name="PathLacunher" serializeAs="String">
                <value />
            </setting>
            <setting name="CloseLaucnher" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ModDep" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EncryptKey" serializeAs="String">
                <value />
            </setting>
            <setting name="TutorialComplete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StatsGameVanila" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StatsGameMod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StatsGameServer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OfflineModLauncher" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LanguageCode" serializeAs="String">
                <value>uk_UA</value>
            </setting>
            <setting name="LastSelectedType" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LastSelectedVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSelectedModVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="EulaAcceptedDate" serializeAs="String">
                <value />
            </setting>
            <setting name="IsDocsTutorialShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoadScreenBackground" serializeAs="String">
                <value />
            </setting>
            <setting name="LoadScreenBarColor" serializeAs="String">
                <value />
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectIndexAccount" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MaxAutoBackups" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableAutoBackup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableGlassEffect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsPotatoMode" serializeAs="String">
                <value>False</value>
            </setting>
        </CL_CLegendary_Launcher_.Settings1>
    </userSettings>
</configuration>