################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CL(CLegendary Launcher)
/CL(CLegendary Launcher)/obj
/CL(CLegendary Launcher)/bin
